<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'main.html' %}
    {%block content%}
    <form method="post" action="">
        {% csrf_token%}
        <p>Are you sure, you wnat to delete "{{obj}}"</p>
        <input type="submit" value="Delete">
        <a href="{{request.META.HTTP_REFERENCE}}">GO BACK</a>
    </form>
    {%endblock content%}
</body>
</html>